<html>

<body>
  <h1> New Catalog Item </h1>

  <form action="{{url_for('newCatalogItem', catalog_id=catalog_id )}}" method='POST'>

    <p>Name:</p>

    <input type='text' size='30' name='name' placeholder="New Item Name">
    <br>
    <br>

    <p>Item Description: </p>
    <input type='text' size='30' name='description' , placeholder="New Item Description">
    <br>
    <br>
    <p>Item Price: </p>
    <input type='text' size='30' name='price' placeholder="New Item Price">
    <br>
    <br>
    <br>
    <p>Item Type: </p>
    <input type='text' size='30' name='type' placeholder="New Item Type">
    <br>
    <br>
    <br>
    <input type='submit' value='Create New Item'>

  </form>

  <a href='{{url_for('CatalogItems', catalog_id=catalog_id)}}'>Cancel</a>

</body>

</html>